<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Capstone Travel App</title>
</head>

<body>

    <header>
        <h1>Capstone Travel App</h1>
    </header>

    <main>
        <section>
            <form onsubmit="return Client.setTravel(event)">
                <input id="place" type="text" name="input" value="" placeholder="The city you want to go" required>
                <input id="date" type="date" name="date" value="" placeholder="yyyy-mm-dd" required>
                <input id="submit" type="submit" name="" value="Save travel">
            </form>
        </section>
        <section id="woTravels">
            <h2>Any travels yet! Use the form above to let us know your adventures</h2>
        </section>
        <section>
            <section>
                <div id="results"></div>
            </section>
    </main>

    <footer>
        <p>&copy Sebastian Sánchez Vega</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>